[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyxel = "*"
yapf = "*"

[dev-packages]
yapf = "*"
"flake8" = "*"
"pep8" = "*"
pytest = "*"
pylint = "*"

[requires]
python_version = "3.6"
